In [5]:
import sqlite3
import pandas as pd
# Create your connection.
cnx = sqlite3.connect(r'C:\Users\Danny\Documents\spring18\Data Science\Final Project\millionsongsubset_full\MillionSongSubset\AdditionalFiles\subset_track_metadata.db')
res = cnx.execute("SELECT name FROM sqlite_master WHERE type='table';")
for name in res:
    print(name[0])

songs

In [8]:
df = pd.read_sql_query("SELECT * FROM songs", cnx)
df.iloc[0]

track_id                                TRACCVZ128F4291A8A
title                                    Deep Sea Creature
song_id                                 SOVLGJY12A8C13FBED
release                               Call of the Mastodon
artist_id                               ARMQHX71187B9890D3
artist_mbid           bc5e2ad6-0a4a-4d90-b911-e9a7e6861727
artist_name                                       Mastodon
duration                                           280.215
artist_familiarity                                0.780462
artist_hotttnesss                                 0.574275
year                                                  2001
Name: 0, dtype: object

In [7]:
conn = sqlite3.connect(r'C:\Users\Danny\Documents\spring18\Data Science\Final Project\millionsongsubset_full\MillionSongSubset\AdditionalFiles\subset_artist_term.db')
res = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
for name in res:
    print(name[0])

artists
terms
artist_term
mbtags
artist_mbtag

In [29]:
df2 = pd.read_sql_query("SELECT * FROM artist_term", conn)
df2.head()

            artist_id          term
0  AR009211187B989185   lovers rock
1  AR009211187B989185        reggae
2  AR009211187B989185  roots reggae
3  AR009211187B989185     uk garage
4  AR009211187B989185        ballad

In [ ]:
pd.read_hdf(filename,key)
conn = sqlite3.connect(r'C:\Users\Danny\Documents\spring18\Data Science\Final Project\millionsongsubset_full\MillionSongSubset\AdditionalFiles\subset_artist_term.db')
res = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
for name in res:
    print(name[0])